*{
    padding: 0%;
    margin: 0%;
    font-family: "Comfortaa", sans-serif;
}

h1{
    font-family: "Oswald", sans-serif;
}

body{
    background-color: rgb(21, 21, 22);
    color: aliceblue;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    position: sticky;
    top: 0px;
    background-color: black;
}

header ul{
    display: flex;
    justify-content: space-around;
    padding-left: 900px;
}

header ul li {
    margin: 20px;
    list-style: none;
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header i{
    margin-right: 5px;
}

header a:hover{
    color: aqua;
}

header h1{
    padding-left: 20px;
}

.row{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: start;
}

.col0{
    width: 650px;
    height: 500px;
    margin-left: 230px;
    margin-top: 170px;
}

.col1{
    width: 300px;
    height: 400px;
    margin-left: 180px;
}

.col1 img{
    width: 500px;
    height: 600px;
}

.row1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2{
    width: 1300px;
    height: 600px;
}

.row2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

.col5{
    width: 250px;
    height: 250px;
    margin: 50px;
    border: 5px groove aqua;
    border-radius: 10px;
}

.col6{
    width: 250px;
    height: 250px;
    margin: 50px;
    border: 5px groove aqua;
    border-radius: 10px;
}

.col7{
    width: 250px;
    height: 250px;
    margin: 50px;
    border: 5px groove aqua;
    border-radius: 10px;
}

.col5 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.col6 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.col7 img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.flip-box {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: cyan;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }

.row3{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}  

.col8{
    width: 350px;
    height: 550px;
    border: 10px groove rgba(245, 245, 245, 0);
    border-radius: 5px;
}

.col9{
    width: 350px;
    height: 550px;
    border: 10px groove rgba(245, 245, 245, 0);
    border-radius: 5px;
}

.col10{
    width: 350px;
    height: 550px;
    border: 10px groove rgba(245, 245, 245, 0);
    border-radius: 5px;
}

.col11{
    width: 350px;
    height: 550px;
    border: 10px groove rgba(245, 245, 245, 0);
    border-radius: 5px;
}

.row3 img{
    width: 350px;
    height: 250px;
}
  
.col8:hover{
    border: 5px groove aqua;
    border-radius: 10px;
}

.col9:hover{
    border: 5px groove aqua;
    border-radius: 10px;
}

.col10:hover{
    border: 5px groove aqua;
    border-radius: 10px;
}

.col11:hover{
    border: 5px groove aqua;
    border-radius: 10px;
}

.row4{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
}

.col12{
    width: 340px;
    height: 65px;
    margin-left: 500px;
    display: flex;
    align-items: center;
}

.col13{
    width: 340px;
    height: 69px;
    margin-left: 10px;
}

.row5{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.col14{
    margin-left: 500px;
    margin-top: 20px;
}
 
.row4 ::placeholder{
    color: aliceblue;
}

.row5 ::placeholder{
    color: aliceblue;
}

.row6 ::placeholder{
    color: aliceblue;
}

.row6{
    height: 400px;
}